.archive_pub td {
    border-bottom: 0px;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    text-align: left;
    vertical-align: top;
}

.comparison-noslider {
    position: relative;
    width: 18em;
    margin: 0 0 0 0;
}

img.dropshadow {
}

.archive_pub img {
    box-shadow: 0 1px 10px rgba(0,0,0, 0.3);
}
